<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971796701109-pq4thnvdnug1st0c422nm4crujcmst6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971796701109-pq4thnvdnug1st0c422nm4crujcmst6c</string>
	<key>API_KEY</key>
	<string>AIzaSyB46U17OvVSOHkSDZTIapusywF0HuQuJTA</string>
	<key>GCM_SENDER_ID</key>
	<string>971796701109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.a1f4W000007DQaNQAW</string>
	<key>PROJECT_ID</key>
	<string>solved-consulting</string>
	<key>STORAGE_BUCKET</key>
	<string>solved-consulting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971796701109:ios:e0658080983559323e03fc</string>
</dict>
</plist>