<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>675468736684-3c0vfd6pun6ohr0s8d6u0bod81f7m4oe.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.675468736684-3c0vfd6pun6ohr0s8d6u0bod81f7m4oe</string>
		<key>API_KEY</key>
		<string>AIzaSyD0xlNYl1ELDV3SYe_IBhR6KOjQmCIYt0o</string>
		<key>GCM_SENDER_ID</key>
		<string>675468736684</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.jhs151hh6432q</string>
		<key>PROJECT_ID</key>
		<string>app-07x151</string>
		<key>STORAGE_BUCKET</key>
		<string>app-07x151.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<true></true>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:675468736684:ios:e4f8e48602f1bf4aabc709</string>
	</dict>
</plist>